.main-serv {
	padding-top: 100px;
	display: grid;
	justify-items: center;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.main-serv__tarjeta1 {
	margin: 15px;
	padding: 5px;
	border: 2px solid black;
	width: 500px;
	height: 38px;
	border-radius: 5px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
	margin: 15px 0;
	text-align: center;
	transition: height 2s;
	overflow: hidden;
}

.main-serv__tarjeta1 li {
	font-size: 19px;
}

.main-serv__tarjeta1:hover {
	height: 200px;
	background-image: linear-gradient(to right, #79B4B7, #9D9D9D, #FEFBF3);
}