.main-direct {
	display: flex;
	flex-direction: column;
}

.main-direct__title h2{
	text-align: center;
}

.main-direct__tarjeta {
	padding: 15px;
	background: #79B4B7;
	&--content {
		display: flex;
		flex-direction: row;
		& img {
			width: 325px;
			height: 370px;
		}
	}
}

.main-direct__tarjeta1 {
	padding: 15px;
	background: #9D9D9D;
	&--content {
		display: flex;
		flex-direction: row;
		& img {
			width: 325px;
			height: 370px;
		}
	}
}