.main-adm {
	@include flex (center);
	padding-top: 100px;
		h3 {
		@include flex (center);
		font-size: 30px;
		margin:  10px;
		}
		h4 {
		@include flex (center);
		margin-top: 5px;
		font-size: 25px;
		}
	&__caja1 {
	width: 500px;
	margin-right: 50px;
	}
	&__img	{
		@extend .imagen;
	}
}

