.main-serv {
	display:flex ;
	flex-direction: column;
	height: 90vh;
}

.main-serv__tarjeta {
	margin: 15px;
	padding: 5px;
	border: 2px solid black;
	max-width: 40%;
	height: 39px;
	border-radius: 5px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
	margin: 15px 0;
	text-align: center;
	transition: height 2s;
	overflow: hidden;
}

.main-serv__tarjeta li {
	font-size: 19px;
}

.main-serv__tarjeta:hover {
	height: 200px;
	background-image: linear-gradient(to right, #79B4B7, #9D9D9D, #FEFBF3);
}