.main-direct {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 100px;
}

.main-direct__caja1 {
	justify-self: center;
	align-self: center;

}

.main-direct__caja2 {
	display: inline;
	border-left: 2px solid black;
	padding: 150px 150px;
	align-items: center;
	justify-items: center;
	margin: 5px;
}

.main-direct__caja2 h3 {
	display: none;
}

.main-direct__tarjeta {
	border: 2px solid black;
	padding: 8px;
	width: 500px;
	height: 180px;
	border-radius: 5px;
	box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 60%);
	margin: 15px 0;
	background-image: linear-gradient(to right, #79B4B7, #9D9D9D, #FEFBF3);
}