* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat;	
}

.body {
	background: #F8F0DF;
}

.imagen {
	 max-width: 700px;
	 max-height: 700px;
	 border-radius: 10px;
}

@mixin flex ($alinea) {
	display: flex;
	justify-content: $alinea;
}