.header {
	background: #79B4B7;
	padding: 30px 20px;
	z-index: 1;
	position: fixed;
	width: 100%;
	top: 0;
	&__content {
		@include flex (space-between)
		align-items: center;
		&--title {
		pointer-events: none;
		justify-content: center;
		}
		&--barranav {
		list-style-type: none;
		display: flex;
		}
		a {
		margin:  0 15px;
		color: whitesmoke;
		text-decoration: none;
		}
	}
}