@media screen and (max-width: 820px){
	.header {
		position: initial;
		&__content-menu {
			display:flex;
			size: 20px;
		}
		&__content--barranavmovil {
			list-style-type: none;
			& a{
				text-decoration: none;
				color: #79B4B7;
			}
		}
	}
	

	.main-index {
		display: flex;
		padding-top: 0;
	}

	.header__content--barranav {
		display: none;
	}

	.header__content--title {
		justify-content: center;
	}

	.main-serv__tarjeta1 {
		max-width: 80%;
	}

	section#img-contact {
		display: none;
	}

	.contact-map {
		display: flex;
		max-width: 80%;
		margin: 10px;
		padding: 0px 30px;
	}

	.main-adm {
		display: flex;
		grid-template-columns: 1fr;
		padding: 1px;
	}

	.main-adm select {
		width: 75%;
	}

	.main-adm__caja {
		justify-self: center ;
		align-self: center;
	}

	.main-direct {
		display: flex;
		margin: 5px;
	}
	.main-direct__tarjeta {
		width: auto;
		border-radius: 15px;
		margin: 10px;
		&--content {
			display: flex;
			flex-direction: column;
		}
	}

	.main-direct__tarjeta1 {
		width: auto;
		border-radius: 15px;
		margin: 10px;
		&--content {
			display: flex;
			flex-direction: column;
		}
	}

	.main-direct__caja {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	#main-contact {
		display: flex;
		flex-direction: column;
	}

	.carousel {
		display: none;
	}

	.index-movil {
		display: flex;
		flex-direction: column;
	}

	.index-movil__img {
		max-height: auto;
		max-width: 100%;
		border-radius: 15px;
		
	}

	.index-movil__text h2 {
		text-align: center;
	}
	.index-movil__text {
		text-align: justify;
		padding: 5px;
	}
	.main-adm {
		margin: 5px;
		padding: 0 10px;
	}

	.offcanvas-title {
		font-size: 25px;
		padding: 10px 30px;
	}
	.offcanvas-body a{
		font-size: 18px;
	}
}